<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="os" class="com.demo.SpringFramework.OS" />
	
	<bean id="lap" class="com.demo.SpringFramework.Laptop">
		<constructor-arg ref="os" />   <!-- Constructor Injection -->    <!-- references bean with id="os" -->
	</bean>
	
</beans>